.App {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh
}

.Card{
  width: 100vh;
  height: 20vh;
  padding: 0rem 5rem 5rem 5rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 5px 3px grey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
} 

.quote{
  font-size: 5rem;
  font-family: Impact, sans-serif;
}

.button{
margin-left: 20rem;
margin-top: 2.5rem;
background-color: rgb(165, 147, 42);
border: none;
border-radius: 10px;
padding: .5rem 1rem .5rem 1rem;
}

.lightcoral{
  background-color: lightcoral;
  color: lightcoral;
}

.lightblue{
  background-color: lightblue;
  color: lightblue;
}

.lightgreen{
  background-color: lightgreen;
  color: lightgreen;
}

.lightpurple{
  background-color: violet;
  color: violet;
}

.lightpink{
  background-color: lightpink;
  color: lightpink;
}

.lightyellow{
  background-color: lightyellow;
  color: lightyellow;
}

.lightorange{
  background-color: lightsalmon;
  color: lightsalmon;
}

.lightgrey{
  background-color: lightgrey;
  color: lightgrey;
}
