.body{
  align-items: center;
  height: 100vh;
}

.App {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.Card{
  width: 50vh;
  padding: 2rem;
  border-radius: 10px;
  padding-bottom: 5rem;
  background-color: white;
  box-shadow: 3px 5px 3px grey;
} 

.quote{
  font-size: 5rem;
  float: left;
}

.author{
  margin-top: 2rem;
}

button {
float:right;
border: none;
border-radius: 60px;
padding: .5rem 1rem .5rem 1rem;
font-size: 2rem;
}

.lightcoral{
  background-color: lightcoral;
  color: lightcoral;
}

.lightblue{
  background-color: lightblue;
  color: lightblue;
}

.lightgreen{
  background-color: lightgreen;
  color: lightgreen;
}

.lightpurple{
  background-color: violet;
  color: violet;
}

.lightpink{
  background-color: lightpink;
  color: lightpink;
}

.lightyellow{
  background-color: rgb(251, 251, 155);
  color: rgb(251, 251, 155);
}

.lightorange{
  background-color: lightsalmon;
  color: lightsalmon;
}

.lightgrey{
  background-color: grey;
  color: grey;
}
